@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* Light Mode */
    --color-primary: 0 191 129;    /* #00bf81 */
    --color-secondary: 2 132 199;   
    --color-tertiary: 3 105 161;
    
    --color-bg-primary: 250 250 250;    /* #fafafa */
    --color-bg-secondary: 255 255 255;  /* #ffffff */
    --color-bg-tertiary: 244 244 245;   /* #f4f4f5 */
    
    --color-text-primary: 24 24 27;     /* #18181b */
    --color-text-secondary: 82 82 91;   /* #52525b */
    --color-text-tertiary: 161 161 170; /* #a1a1aa */
    
    --color-border-primary: 228 228 231; /* #e4e4e7 */

      /* Cores de estado - Light */
    --color-success: 16 185 129;    /* #10b981 */
    --color-warning: 245 158 11;    /* #f59e0b */
    --color-danger: 239 68 68;      /* #ef4444 */
    --color-info: 6 182 212;        /* #06b6d4 */
  }

  .dark {
    /* Dark Mode */
    --color-secondary: 186 230 253; 
    --color-tertiary: 224 242 254; 
    
    --color-bg-primary: 0 0 0;     
    --color-bg-secondary: 51 51 51;     
    --color-bg-tertiary: 28 39 56; 
    
    --color-text-primary: 255 255 255;  
    --color-text-secondary: 178 179 184;
    --color-text-tertiary: 119 119 119;
    
    --color-border-primary: 0 0 0;   
    
    /* Cores de estado - Dark */
    --color-success: 52 211 153;    /* #34d399 */
    --color-warning: 251 191 36;    /* #fbbf24 */
    --color-danger: 248 113 113;    /* #f87171 */
    --color-info: 34 211 238;       /* #22d3ee */
  }
}